#u1077.PamphletThumbSelected #u1078-4 p,#u1102-4,#u1104-4,#u1105-4,#u1106-4,#_u1108-4-f3s_top,#u1078-4
{
	font-family: lato-n4, sans-serif;
}

#u303-4,#u300-4,#_u304-4-f3s_top,#u369-3,#u312-3,#u313-12,#u314-3,#u315-4,#u319-4,#u320-4,#u321-4,#u322-4,#u323-4,#u324-4
{
	font-family: lato-n4, sans-serif;
}

#u1014-4,#u107-4,#_u1015-4-f3s_top,#u145-4,#u141-4,#u146-4,#u140-4,#u136-4,#u137-4,#u135-4,#u139-4,#u144-4,#u183-4,#_u1367-4-f3s_top
{
	font-family: lato-n4, sans-serif;
}

