#u1077.PamphletThumbSelected #u1078-4 p,#u1102-4,#u1104-4,#u1105-4,#u1106-4,#_u1108-4-f3s_top,#u1078-4
{
	font-family: lato-n4, sans-serif;
}

#u303-4,#u300-4,#_u304-4-f3s_top,#u369-3,#u312-3,#u313-12,#u314-3,#u315-4,#u319-4,#u320-4,#u321-4,#u322-4,#u323-4,#u324-4
{
	font-family: lato-n4, sans-serif;
}

#u1166-4.PamphletThumbSelected p,#u1172-4.PamphletThumbSelected p,#u1158-4.PamphletThumbSelected p,#u1160-4.PamphletThumbSelected p,#u1161-4.PamphletThumbSelected p,#u1169-4.PamphletThumbSelected p,#u1167-4.PamphletThumbSelected p,#u1170-4.PamphletThumbSelected p,#u1164-4.PamphletThumbSelected p,#u1163-4.PamphletThumbSelected p,#u1173-4.PamphletThumbSelected p,#u480-4,#u494-4,#u1120-4,#u1153-4,#u1137-4,#u1154-4,#u1155-4,#u1187-4,#_u1157-4-f3s_top,#u1158-4
{
	font-family: lato-n4, sans-serif;
}

#u1160-4
{
	font-family: lato-n4, sans-serif;
}

#u1161-4
{
	font-family: lato-n4, sans-serif;
}

#u1163-4
{
	font-family: lato-n4, sans-serif;
}

#u1164-4
{
	font-family: lato-n4, sans-serif;
}

#u1166-4
{
	font-family: lato-n4, sans-serif;
}

#u1167-4
{
	font-family: lato-n4, sans-serif;
}

#u1169-4
{
	font-family: lato-n4, sans-serif;
}

#u1170-4
{
	font-family: lato-n4, sans-serif;
}

#u1173-4
{
	font-family: lato-n4, sans-serif;
}

#u1172-4
{
	font-family: lato-n4, sans-serif;
}

